.wrap-form {

}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}

.field-wrap,
.field-wrap input,
.field-wrap select,
.field-wrap textarea {
    width: 100%;
}

.field-wrap.half {
    width: 48%;
}

.field-wrap.checkbox,
.field-wrap.checkbox input{
    width: auto;
}

.field-wrap.checkbox label {
    padding-right: 5px;
}

.form-row-files {
    flex-wrap: wrap;
}

.field-wrap.notices {
    margin-top: 10px;
    padding: 10px 20px;
    background: #f2f2f2;
}

.field-wrap.notices span {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    font-size: .8rem;
}

.form-row input[type="submit"] {
    min-width: 150px;
    cursor: pointer;
}

.form-row  .agreement {
    display: flex;
    align-items: center;
}

.form-row .agreement label {
    padding-left: 10px;
    font-size: .9rem;
}

.form-row label {
    cursor: pointer;
}

.form-info-message {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
}

.form-info-message div {
    color: #fff;
}