.wrap-form {

}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}

.field-wrap,
.field-wrap input,
.field-wrap select,
.field-wrap textarea {
    width: 100%;
}

.field-wrap.half {
    width: 48%;
}

.field-wrap.checkbox,
.field-wrap.checkbox input{
    width: auto;
}

.field-wrap.checkbox label {
    padding-right: 5px;
}

.form-row-files {
    flex-wrap: wrap;
}

.field-wrap.notices {
    margin-top: 10px;
    padding: 10px 20px;
    background: #f2f2f2;
    border-radius: .25rem;
}

.field-wrap.notices span {
    display: inline-block;
    width: 100%;
    font-size: .8rem;
}

.form-row input[type="submit"] {
    min-width: 150px;
    cursor: pointer;
}

.form-row input[type="submit"]:hover {
    color: #fff;
    background-color: var(--color-disable);
}

.form-row  .agreement {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.agreement a {
    font-size: .9rem;
}

.form-row .agreement label {
    padding-left: 10px;
    font-size: .9rem;
}

.form-row label {
    cursor: pointer;
}

.form-info-message {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
}

.form-info-message div {
    color: #fff;
}

.required {
    position: relative;
}

.required label:after {
    content: "*";
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-error);
}

/* files */
input[type="file"] {
    font-size: .9rem;
    cursor: pointer;
}

input[type="file" i]::-webkit-file-upload-button {
    display: none;
}


