button, input, select, textarea {
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid var(--color-light);
}
button:hover, input:hover, select:hover, textarea:hover {
    border: 1px solid var(--color-disable);
}

button:focus, input:focus, select:focus, textarea:focus {
    border: 1px solid var(--color-disable);
}

a {
    text-decoration: none;
    color: var(--color-link);
    opacity: .8;
}

a:hover {
    opacity: 1;
}

a, button, input, select, textarea {
    transition: var(--transition-2);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrap-title {
    padding: 2rem 0;
}