.pagination {
    padding: 20px;
}

.page-numbers {
    display: inline-block;
    width: 20px;
    opacity: .7;
    transition: var(--transition-2);
    text-align: center;
    border-bottom: 2px solid #fff;
}

.page-numbers:hover {
    opacity: 1;
}

.page-numbers.current {
    font-weight: 400;
    font-size: 1rem;
    opacity: 1;
    cursor: default;
    border-bottom-color: var(--color-main);
}