* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--color-main);
    line-height: 1.5;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4  {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a, button, input, select, textarea {
    outline: none;
}

button, input[type="submit"] {
    padding: .5rem 1rem;
    cursor: pointer;
}


ul,  li {
    list-style: none;
}