* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--color-main);
    line-height: 1.5;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 3rem; /* 48 */
}

h2 {
    font-size: 2rem; /* 32 */
}

h3 {
    font-size: 1.625rem; /* 26 */
}

h4  {
    font-size: 1.25rem; /* 20 */
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a, button, input, select, textarea {
    outline: none;
}

textarea {
    resize: none;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

button, input[type="submit"] {
    padding: .5rem 1rem;

}

ul,  li {
    list-style: none;
}