.wrap-menu {
    position: relative;
}

.wrap-top-menu {
    padding: 20px 0;
}

.wrap-top-menu a {
    padding: 10px 20px;
    font-size: .9rem;
    text-transform: uppercase;
    transition: var(--transition-2);
    opacity: 1;
}

.wrap-top-menu a:hover {
    color: var(--color-warning);
    opacity: 1;
}

.wrap-top-menu .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: var(--transition-3);
}

.nav-link.w--current {
    opacity: 1;
    color: var(--color-warning);
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
}

.wrap-top-menu .w-dropdown * {
    text-transform: uppercase;
}

.w-dropdown {
    display: inline-block;
    position: relative;
    padding: 10px 0 10px 20px;
    z-index: 900;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 2.5rem;
}

.w-dropdown-btn, .w-dropdown-link, .w-dropdown-toggle {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.dropdown-toggle.w-dropdown-toggle * {
    font-size: .9rem;
    transition: var(--transition-2);
}

.dropdown-toggle.w-dropdown-toggle {
    display: flex;
}

.dropdown-toggle.w-dropdown-toggle:hover * {
    color: var(--color-warning);
}

.w-icon-dropdown-toggle {
    position: absolute;
    top: .25rem;
    right: .8rem;
    bottom: 0;
    /*margin: auto 20px auto auto;*/
    width: 1em;
    height: 1em;
}

.w-icon-arrow-down:before, .w-icon-dropdown-toggle:before {
    content: "﹀ "; /*︿*/
    font-size: .8rem;
}

.w-dropdown-list {
    display: none;
    min-width: 100%;
    margin-top: 10px;
    position: absolute;
    background: #dddddd;

}

.w-dropdown-list a {
    padding: 10px 20px;
    display: block;
    font-size: .8rem;
    border-bottom: 1px solid var(--color-mute);
}

.dropdown-toggle.w-dropdown-toggle.w--open * {
    color: var(--color-warning);
}

.w-nav-button {
    position: absolute;
    /*top: 20px;*/
    right: 0;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    user-select: none;
    text-align: right;
}

.w-icon-nav-menu {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w-icon-nav-menu:before {
    content: "☰";
    transition: var(--transition-2);
}

.w-nav-button:hover .w-icon-nav-menu:before {
    color: var(--color-warning);
}

/* media */
@media screen and (max-width: 980px) {
    .w-nav-button {
        display: block;
    }

    .wrap-top-menu .nav-menu {
        /*display: none;*/
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-end;
        transition: var(--transition-3);
    }

    .nav-link.w-dropdown {
        width: 100%;
    }

    .w-dropdown-toggle {
        padding-right: 0;
    }

    .w-icon-dropdown-toggle {
        right: 0;
    }

    .dropdown-toggle.w-dropdown-toggle div:nth-child(2) {
        margin-left: auto;
        padding-right: 1.5rem;
    }

    .w-dropdown-list {
        display: block;
        height: 0;
        overflow: hidden;
        position: static;
        background-color: #fff;
    }

    .w-dropdown-list a {
        padding-right: 0;
        text-align: right;
        border-bottom: 1px solid transparent;
    }
}